<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Grocereez</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 flex-grow-1">

                {% if user.is_authenticated %}
                {% comment %} Dashboard {% endcomment %}
                <li class="nav-item">
                  <a class="nav-link {% if current_url_name == 'dashboard:index' %}active{% endif %}" {% if current_url_name == 'dashboard:index' %}aria-current="page"{% endif %} href="{% url 'dashboard:index' %}">Dashboard</a>
                </li>

                {% comment %} Households {% endcomment %}
                <li class="nav-item">
                  <a class="nav-link {% if current_url_name == 'households:view-current' %}active{% endif %}" {% if current_url_name == 'households:view-current' %}aria-current="page"{% endif %} href="{% url 'households:view-current' %}">Household</a>
                </li>

                {% comment %} Home {% endcomment %}
                <li>{{ url_name }}</li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if current_url_name == 'home' %}active{% endif %}" {% if current_url_name == 'home' %}aria-current="page"{% endif %} href="/">Home</a>
                </li>
                {% endif %}

                {% if not user.is_authenticated %}
                  {% comment %} Login {% endcomment %}
                  <li class="nav-item ms-lg-auto">
                    <a href="{% url 'users:login' %}" {% if current_url_name == 'users:login' %}aria-current="page"{% endif %} class="nav-link {% if current_url_name == 'users:login' %}active{% endif %}">Login</a>
                  </li>

                  {% comment %} Signup {% endcomment %}
                  <li class="nav-item">
                    <a href="{% url 'users:signup' %}" {% if current_url_name == 'users:signup' %}aria-current="page"{% endif %} class="nav-link {% if current_url_name == 'users:signup' %}active{% endif %}">Signup</a>
                  </li>
                {% else %}
                  {% comment %} Logout {% endcomment %}
                  <li class="nav-item ms-auto">
                    <form action="{% url 'users:logout' %}" method="POST">
                      {% csrf_token %}
                      <input type="submit" class="btn btn-outline-danger" value="Logout">
                    </form>
                  </li>
                {% endif %}
              </ul>

          </div>
        </div>
      </nav>
