{% extends 'layouts/app.html' %}
{% load household_tags %}
{% block content %}
  {% user_is_household_admin household as user_is_admin %}
  <div class="mt-lg-5"></div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-5">
      <div class="card">
        <div class="card-header">
          <h1 class="h2 text-center">{{ household.name }}</h1>
        </div>
        <ul class="list-group list-group-flush">
          {% for member in household.householdmember_set.all %}
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-3">
                  {% if member.user == user %}
                    <span>You</span>
                  {% else %}
                    <span>{{ member.user.display_name }}</span>
                    <span class="small text-secondary">({{ member.user.email }})</span>
                  {% endif %}
                </div>
                <div>
                  {% if member.is_admin %}
                    <span class="badge bg-secondary">Admin</span>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        {% if user_is_admin %}
          <div class="card-body d-flex">
            <a href="#" class="btn d-flex gap-2 align-items-center">
              <i class="bi bi-plus-circle mb-0"></i>
              <span>Add a new member</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
