{% extends 'layouts/app.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row mt-lg-5 justify-content-center">
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Edit Ingredient</h1>
        </div>
        <div class="card-body">
          {% if form %}
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-grid">
                <div class="d-flex gap-5 justify-content-center">
                  <a href="{% url 'ingredients:ingredients-list' %}" class="btn btn-secondary flex-grow-1">Go back</a>
                  <button type="submit" class="btn btn-primary flex-grow-1">Save</button>
                </div>
              </div>
            </form>
          {% else %}
            <p>You must add a household before you can edit ingredients</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
