{% extends 'layouts/app.html' %}
{% block content %}
  <div class="row mt-lg-5 justify-content-center">
    <div class="col-12 col-lg-5">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Ingredients</h1>
        </div>
        {% if ingredients %}
          <ul class="list-group list-group-flush">
            {% for item in ingredients %}
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-wrap gap-2 align-items-baseline">
                    <span>{{ item }}</span> <span class="small text-secondary">({{ item.category|default_if_none:'Uncategorized' }})</span>
                  </div>
                  <div class="d-flex gap-2">
                    <a href="{% url 'ingredients:edit-ingredient' item.uuid %}"><i class="bi bi-pencil"></i><span class="visually-hidden">Edit {{ item }}</span></a>
                    <a href="{% url 'ingredients:delete-ingredient' item.uuid %}" class="text-danger"><i class="bi bi-trash"></i><span class="visually-hidden">Delete {{ item }}</span></a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="card-body"></div>
          <p>There are no ingredients for this household yet.</p>
        {% endif %}
        <div class="card-footer">
          <a href="{% url 'ingredients:create-ingredient' %}" class="btn d-flex gap-2 align-items-center">
            <i class="bi bi-plus-circle mb-0"></i>
            <span>Add an ingredient</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
